<div class="container">
  <form class="forms">
    <form class="">
      <label for="pageNumbers">Pages</label>
      <select v-model="totalPages" @change="handlePagesClick" name="pages" class="form-control" id="pageNumbers">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <br><br>
    </form>
    <label for="imageNumbers">Images
      <input v-model="totalImages" type="number" @keydown.enter="handleImagesClick" form="imageNumbers" id="imageNumbers" min="1" max="100" name="images" class="input">
    </label>
    <div class="btn-row">
      <button class="load-btn" @click="handleImagesClick" form="imageNumbers">Load</button>
    </div>
  </form>
</div>
