
.image-list{
  background: #9bc4bc!important;
  border-width: 0;
  border-style: solid;
  border-color: grey;
  box-sizing: inherit;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
grid-template-columns: auto auto auto;
background-color: white;
}


.image-card{
background: white;
text-align: center;
border: 0px solid #e5989b;
margin: 2rem;
font-size: 1.25rem;
border-radius: .25rem;
box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
overflow: hidden;
}

.image-card:hover{
border: 5px solid #e5989b;
border-radius: 1%;
}

.id, .author{
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #4B5043;
}

.gallery-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: auto auto auto;

}

.pagination{
  padding: 1rem;
  text-align: center;
  width: 100%;
  float: left;
}

.pagination div{
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
}


.pagination .page{
  color: #4B5043;
}

.pagination .prev, .pagination .next{
color: #000;
border: 0.1rem solid #000;
font-size: 1rem;
margin-left: 1rem;
margin-right: 1rem;
padding: 8px 15px;
}


.pagination .next.disabled, .pagination .prev.disabled{
  border-color: #4B5043;
  color: #4B5043;
  pointer-events: none;
}

.image-card.hide{
  display: none;
}

.image-card.show{
  display: block;
  animation: show .5s ease;
}

@keyframes show{
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}
