
.image-list{
  border-width: 0;
  border-style: solid;
  border-color: grey;
  box-sizing: inherit;

}
.container{
width: calc(100vw);
}

@media(min-width: 1200px){
.container{
max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 992px){
.container{
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 768px){
.container{
  flex-wrap: wrap;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
}


.image-element{
width: 30%;
margin-left: 1rem;
margin-right: 1rem;
text-align: center;
margin-bottom: 2rem;
border-width: 0;
border-style: solid;
border-color: grey;
box-sizing: inherit;
display: block;
overflow: hidden;
border-radius: .25rem;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


@media (max-width: 992px){
.image-element{
  width: 40%;
}
}
@media (max-width: 768px){
.image-element{
  width: 100%;
}
}
