
.image-list{
  background: #9bc4bc!important;
  border-width: 0;
  border-style: solid;
  border-color: grey;
  box-sizing: inherit;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
grid-template-columns: auto auto auto;
background-color: white;
}


.image-card{
background: white;
text-align: center;
border: 0px solid #4B5043;
margin: 2rem;
font-size: 1.25rem;
border-radius: .25rem;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
overflow: hidden;
}

.id, .author{
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #4B5043;
}
